.newsWrapper{
    text-align: center;
    font-size: 20px;
    color: white;
    background-image: url('../../Images/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.newsWrapper ul{
    margin: 15px;
}
.textWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}