.newsWrapper{
    padding: 150px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0px;
    background-color: black;
}

.newsWrapper ul{
    margin: 15px;
}
.textWrapper{
    margin: 0px;
    padding: 0px;
}