


@keyframes bounce {
    from {margin-top: 15%;}
    to {margin-top: 10%;}
}


.loader{
    display: flex;
    margin-left: 40%;
    margin-top: 15%;
    background-color: black;
    height: 75px;
    border-radius: 50px;
    width: 75px;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#loadercontainer h1{
    margin-right: 16%;
    text-align: center;
}

