.matchdetails{
    padding: 150px;
    background-image: url(../../Images/dota2background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.headerWrapper{
    display: flex;
    justify-content: center;
}

.score{
    margin: 20px;
    text-align: center;
    display: flex;
}

.score article{
    margin: 30px;
}   

.score img{
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

.radiantside{
    width: 80%;
    margin-bottom: 10px;
    margin-left: 200px;
}

.direside{
    width: 80%;
    margin-left: 200px;
}