.matchdetails{
    padding: 150px;
    background-image: url(../../Images/dota2background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.headerWrapper{
    display: flex;
    justify-content: center;
}

.score{
    margin: 20px;
    text-align: center;
    display: flex;
}

.score article{
    margin: 30px;
}   

.score img{
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

.radiantside{
    width: 90%;
    margin-bottom: 10px;
    margin-left: 100px;
}

.direside{
    width: 90%;
    margin-left: 100px;
    margin-bottom: 50px;
}

.chart{
    text-align: center;
    width: 80%;
    padding: 25px;
    margin: 40px;
    margin-left: 190px;
    background-color: #222;
}

.bans{
    margin: 15px;
}

.matchContainer h2{
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: white;
}

.bannedContainer{
    display: flex;
    justify-content: center;
}

.chart h1{
    margin: 0px;
    padding: 0px;
}
