.profileheader{
    margin: 50px;
    width: 30%;
    height: 580px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
}
.profileheader img{
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.profilesection{
    background-color: rgb(34, 114, 194);
    display: flex;
    justify-content: center;
}

.tablecontainer{
    background-color: #222;
    color: white;
    display: flex;
    text-align: center;
}

.playedheroes{
    width: 100%;
}
.tablebody{
    background-color: #222;
    font-size: 20px;
}