.profileContainer{
    margin: 50px;
    width: 80%;
    height: 450px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../Images/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playerprofile{
    padding: 100px;
    background-image: url('../../Images//dota2background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.profilepic{
    height: 150px;
    width: 150px;
    border-radius: 75px;
}
.profileheader img{
    margin: 10px;
}

.profilesection{
    display: flex;
    justify-content: center;
}
.matches{
    height: 500px;
    overflow-y: scroll;
    margin-bottom: 100px;
}

.tablecontainer{
    width: 70%;
    margin-left: 300px;
    color: white;
}

.playedheroes{
    height: 500px;
    overflow-y: scroll;
}
.tablebody{
    background-color: #222;
    font-size: 15px;
}