.table{
    background-color: #222;
    font-size: 15px;
    text-align: center;
}

#recentMatchesLoading{
    text-align: center;
}

@keyframes example {
    from {width: 0%;}
    to {width: 100%;}
}

#loader {
    text-align: center;
    color: white;
    width: 0px;
    height: 100px;
    background-color: black;
    animation-name: example;
    animation-duration: 1s;
}