.searchContainer{
    display: flex;
    background-image: url('../../Images/dota2backgroundupdate.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
}

.player{
    margin: 25px;
    display: flex;
    justify-content: center;
    width: 100px;
    text-align: center;
}