.navbar{
    position: static;
    z-index: 1;
    background-image: url(../../Images/header.png);
    background-position: center;
}

.logo{
    height: 100px;
    margin: 0px;
}

.navbar a, ul{
    margin: 0px;
}

.search{
    display: inline;
    margin: 0px;
    padding: 0px;
}
